<!doctype html>
<html lang='es'>
    <head>
        <%- include('./templates/header')%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <%- include('./templates/navbar')%>
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <%- include('./templates/footer')%>
    </body>
</html>
