<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="/">Vet App</a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pets">Mascotas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
</nav>
